<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>pgiOBOqhvPZEvmnABSrKhIvxg</string>
	<key>cosumer_Secret</key>
	<string>FMEpNi3COjY71pIZqZ8VpSM83iyhBczEAXZUeP5wKCEdhIwm7v</string>
</dict>
</plist>
