<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>bLPMzzcUq76xdaMTfYOQmpm1x</string>
	<key>consumer_Secret</key>
	<string>JN3wqIkGSvx0t0sasLH2LEzU0EsWi1G7u2mc0C15VM70WekPJG</string>
</dict>
</plist>
